<nav class="nav navbar smart-scroll navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid px-5">
        <ng-container *ngIf="!authService.loggedIn(); else loggedInw">
            <a class="navbar-brand my-3 text-light" routerLink="/">
                Fismart
            </a>
        </ng-container>
        <ng-container>
            <a *ngIf="!isCollapsed" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-brand p-0 text-light b-info " routerLink="/">
                Fismart
            </a>
        </ng-container>
        <ng-template #loggedInw>

            <a class="navbar-brand p-0" routerLink="/user/{{photo._id}}">
                <img *ngIf="isCollapsed" [src]="apiUrl+'/'+ photo.foto" (error)="onImgError($event)" class="wrapperest10">
            </a>

        </ng-template>
        <button class="navbar-toggler btn btn-light bg-warning shadow-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
            <mat-icon color='white' svgIcon="www" aria-hidden="false" aria-label=""></mat-icon>
        </button>

        <div class="collapse navbar-collapse  justify-content-end" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Auspicios</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" target="_blank" href="https://www.unsch.edu.pe/">UNSCH</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://www.esfapa.edu.pe/">ESFAPA</a></li>
                        <li class="dropdown-submenu d-none"><a class="dropdown-item dropdown-toggle">DOCUMENTOS</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" target="_blank" href="#">DOCUMENTO 1</a></li>
                                <li><a class="dropdown-item" target="_blank" href="#">DOCUMENTO 2</a></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 1</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                                        <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                                        <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Librerias</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" target="_blank" href="https://b-ok.lat/s/ART">Zlibrary</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://agetintopc.com/es/autodesk-maya-2018-free-download/">Maya</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://www.autodesk.com/products/mudbox/free-trial">Mudbox</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://www.mediafire.com/file/758z42d7a1e3qie/WIN_PZH_V22.0.5_AP_ZNT.rar/file">ZBrush</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://latinoamerica.autodesk.com/products/3ds-max/free-trial">3ds Max</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://www.blender.org/">Blender</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://www.mandelbulb.com/2014/mandelbulb-3d-mb3d-fractal-rendering-software/">Mandelbulb 3D</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://www.geogebra.org/classic">Geogebra</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Markdown</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" target="_blank" href="https://markdown-it.github.io/">Markdown1</a></li>
                                <li><a class="dropdown-item" target="_blank" href="https://markdownlivepreview.com/">Markdown2</a></li>
                                <li><a class="dropdown-item" target="_blank" href="https://upmath.me/">Markdown3</a></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Latex</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="https://katex.org/">Katex</a></li>
                                        <li><a class="dropdown-item" href="https://www.mathjax.org/">Mathjax</a></li>
                                    </ul>
                                </li>
<!--                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                                        <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                                    </ul>
                                </li>-->
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/photos/new">Upload</a>
                </li>
                -->
                <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/registro">Registro</a>
                    </li>

                </ng-container>
                <ng-template #loggedIn>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Cursos</a>
                    </li>
                    <li *ngIf='idcurso' class="nav-item">
                        <a class="nav-link" routerLink="/curso/{{idcurso}}">Curso</a>
                    </li>
                    <li *ngIf='idcurso' class="nav-item">
                        <a class="nav-link" routerLink="/integers/{{idcurso}}">Estudiantes</a>
                    </li>
                    <li *ngIf='photo.rol=="2" || photo.rol=="1"' class="nav-item">
                        <a class="nav-link" routerLink="/user">Tablero docente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Cerrar sesión</a>
                    </li>
                </ng-template>

            </ul>
        </div>
    </div>
</nav>
