<!-- <div Ngxheadroom [options]="options" class="fixed-navbar"> -->
<app-navigation></app-navigation>
<!-- </div> -->


<div class="height"></div>



<div class="container d-flex">
  <button class="btn btn-info w-100" printSectionId="contentall" [useExistingCss]="true"
    [printStyle]="{h1 : {'color': 'red'}, h2 : {'border': 'solid 1px'}}" printTitle="{{photo?photo.title:''}}" ngxPrint> Imprimir
  </button>
</div>

<ng-template #ww let-modal>
  <div class="modal-body">
    <div class="row">
    </div>

    <img
      *ngIf="file && file.split('.').pop()=='png'||file.split('.').pop()=='jpg'||file.split('.').pop()=='jpeg'||file.split('.').pop()=='svg'||file.split('.').pop()=='webp'"
      [src]="apiUrl+'/'+ file" class="img-fluid w-100" (error)="onImgError($event)">

    <div *ngIf="file" class="border rounded  text-center d-none">{{file}}</div>

    <ngx-doc-viewer *ngIf="file.split('.').pop()=='doc'" [url]="apiUrl+'/'+ file" viewer="google"
      style="width:100%;height:100vh;"></ngx-doc-viewer>

    <ngx-doc-viewer
      *ngIf="file && file.split('.').pop()=='docx' || file.split('.').pop()=='pptx'|| file.split('.').pop()=='ptx' || file.split('.').pop()=='xlsx'|| file.split('.').pop()=='xls'"
      [url]="apiUrl+'/'+ file" viewer="google" style="width:100%;height:800px;"></ngx-doc-viewer>
    <ngx-extended-pdf-viewer *ngIf="file && file.split('.').pop()=='pdf'" [src]="apiUrl+'/'+ file"
      [height]="'500px'"></ngx-extended-pdf-viewer>

  </div>
  <div class="modal-footer py-1 px-1">
    <button class="btn btn-info shadow-none" (click)="modal.close()">Close {{ ttrue=='false' ? 'working':
      'ok'}}</button>
  </div>
</ng-template>

<div class="">
  <div *ngIf="photo" class="justify-content-center text-center">
    <button [ngClass]="[formshow?'btn btn-info ':'btn btn-light']" (click)="formshowteacher()">{{
      formshow
      ? 'ESCONDER EDITOR': 'EDITAR TEMA'}}</button>
      <button class="btn btn-light" (click)="markdownchange()">CAMBIAR</button>
  </div>
</div>



<div class="text-align-center text-center mt-3">
  <!-- <h5 class="">{{photo.task}}</h5> -->
  {{photo?photo.curso[0].title:''}}--
  {{photo?photo.curso[0].ciclo:''}}--
  {{photo?photo.curso[0].credito:''}}--
  {{photo?photo.curso[0].codigo:''}} ({{photo.task}})
</div>


<form *ngIf="photo" (submit)="fechanotastasks(iniciar, culminar); fechanotastheme(iniciar, culminar)"
  class="row border border-dark rounded" style="margin-left: 1cap;margin-right: 1cap; padding: .1cm;">
  <div class="input-group p-1">
    <input type="datetime-local" class="form-control" placeholder="1" #iniciar [value]="photo.dateb">
    <input type="datetime-local" class="form-control" placeholder="2" #culminar [value]="photo.datee">
  </div>
  <button
    [ngClass]="[photo.dateb < DateNow && DateNow < photo.datee?'btn btn-warning w-100 text-uppercase':'btn btn-secondary w-100 text-uppercase']"
    [disabled]="loading">Guardar intervalo</button>
</form>


<div *ngIf="photo" class="container p-1" id="contentall"
  style="font-family: 'Times New Roman', Times, serif f !important">


  <!-- {{photo.unity[0].title}} 
{{photo.userr[0].name}} -->

  <form *ngIf="formshow" class="p-1" (submit)="updatetheme(title, task, solution, time)">
    <div class="form-group mb-3" id="tittle" #tittle>
      <label for="exampleFormControlInput1" class="form-label text-primary">Tipo
      </label>
      <select class="form-select" aria-label="Default select example" [disabled]="loading"
        (change)="onChangetype(photo.title, $event, photo.solution, photo.time)" name="deviceText">
        <option selected>{{photo.task}}</option>
        <option value="Actitudinal">Actitudinal</option>
        <option value="Procedimental">Procedimental</option>
        <option value="Conceptual">Conceptual</option>
        <option value="N">N</option>
      </select>
    </div>
    <div class="form-group mb-3" id="tittle" #tittle>
      <label for="exampleFormControlInput1" class="form-label text-primary">Título
      </label>
      <input type="text" class="form-control" placeholder="Photo's Title" #title [value]="photo.title">
    </div>

    <div class="form-group mb-3">
      <label for="exampleFormControlInput1" class="form-label text-primary">Sesión</label>

      <ckeditor [editor]="Editor" [data]="markdown" (change)="onChange($event)"></ckeditor>
      <!-- <ng-katex-html [html]="showww"></ng-katex-html> -->
      <!-- {{showww}} -->
      <!-- <hr> -->
      <!-- {{session}} -->
    </div>
    <!-- <iframe width='100%' height='355' src="https://www.youtube.com/embed/uQ4DABf5Ymk"></iframe> -->
    <!-- <div [innerHTML]="showww"></div> -->


    <!-- <figure class="media"><youtube-player [videoId]="'uQ4DABf5Ymk'"></youtube-player></figure> -->
    <div class="form-group mb-3 d-none">
      <label for="exampleFormControlInput1" class="form-label text-primary">Tarea</label>
      <textarea rows="5" class="variable-textarea form-control" #task [value]="photo.task"></textarea>
      <!-- <ckeditor [editor]="Editor" [data]="photo.task"></ckeditor> -->
    </div>

    <div class="form-group mb-3 d-none">
      <label for="exampleFormControlInput1" class="form-label text-primary">Solución</label>
      <textarea rows="5" class="variable-textarea form-control" #solution [value]="$any(photo).solution"></textarea>
      <!-- <ckeditor [editor]="Editor" [data]="$any(photo).solution"></ckeditor> -->
    </div>

    <div class="form-group mb-3 d-none">
      <label for="exampleFormControlInput1" class="form-label text-primary">Fecha de entrega</label>
      <input type="datetime-local" class="form-control" #time [value]="photo.time">
    </div>

    <!-- <iframe src="https://www.dailymotion.com/embed/video/x8uv6iq"></iframe>
    www
    <youtube-player [videoId]="'x8uv6iq'"></youtube-player> -->
    <!-- <youtube-player [videoId]="'eQVvzTA2Q0o'"></youtube-player>
    <iframe width="100%" height="355" src="https://www.youtube.com/embed/?v=uQ4DABf5Ymk"></iframe> -->
    <label for="exampleFormControlInput1" class="form-label text-primary">Diapositiva</label>
    <div *ngIf="!photoSelected" class="text-center">
      <input type="file" class="d-none" (change)="capturandoFile($event)" #photoInput>
      <img [src]="photoSelected || apiUrl+'/'+ $any(photo).img"
        class="border border-warning  rounded p-1 m-auto cursorpoint img-fluid" (error)="onImgError($event)"
        style="width: 2cm;" alt="No image" (click)="photoInput.click()">
    </div>

    <div *ngIf="!photoSelected && photo.img" class="bg-light text-center border rounded">
      {{photo.img}}
    </div>
    <div *ngIf="photoSelected" class="bg-light text-center border rounded">
      {{name}}
    </div>

    <ngx-extended-pdf-viewer *ngIf="photoSelected && type=='application/pdf'" [src]="photoSelected" [height]="'1000px'"
      [useBrowserLocale]="false" [textLayer]="true" [showHandToolButton]="true">
    </ngx-extended-pdf-viewer>

    <ngx-extended-pdf-viewer *ngIf="!photoSelected && photo.img && photo.img.split('.').pop()=='pdf'"
      [src]="apiUrl+'/'+ photo.img" [height]="'800px'" [useBrowserLocale]="false" [textLayer]="true"
      [showHandToolButton]="false">
    </ngx-extended-pdf-viewer>

    <mat-progress-bar *ngIf="value > 0" color="accent" mode="determinate" [value]="value"></mat-progress-bar>

    <button class="btn btn-info mt-1 w-100" [disabled]="loading">{{ loading=='false' ? 'Cargando '+value+'%':
      'Actualizar'}}</button>
  </form>

  <ng-katex-html [html]="showww"></ng-katex-html>


  <!-- <div class="container my-1 border border-info rounded pt-1">
    <button class="btn btn-primary w-100 shadow-none"
      (click)="savetasksimilar(photo._id, photo.unidad, photo.curse, photo.user)">Create task</button>
    <div class="row justify-content-center pt-0">
      <div class="col-md-3 border btn-group p-1" *ngFor="let ww_w of photo.tassks index as i">
        <button class="btn btn-info" style="width: 100%" (click)="updatetask(ww_w._id)">
          {{ww_w.task.length}}.{{ww_w.solution.length}}</button>
        <button class='btn btn-danger' (click)="errasetask(ww_w._id)"> - </button>
      </div>
    </div>
  </div> -->

  <div *ngIf="value > 0" class="fixed-bottom text-warning">
    {{ loading=='false' ? 'Cargando '+value+'%': ''}}
    <!-- <mat-progress-bar class="fixed-bottom" color="accent" mode="determinate" [value]="value">  </mat-progress-bar> -->
  </div>
  <!-- <div class="container text-center" *ngIf="photo">
    <div class="btn-group">
      <button class="btn btn-danger" (click)="cleantasks()">Limpiar tareas</button>
      <button class="btn btn-warning" (click)="calificationclean()">Limpiar notas</button>
      <button class="btn btn-secondary" (click)="calification()">Calificar similaridad (cs)
        {{charge>0?charge:null}}</button>
      <button class="btn btn-primary" (click)="calificationsolution()">Calificar sesión (CS)</button>
      <button class="btn btn-primary" (click)="createNotes()">Calificar</button>
    </div>
    <div class="text-center m-auto input-group">
      <input class="form-control" [disabled]="loading" placeholder="Calificación todos" (blur)="createNotes($event)">
      <input [disabled]="loading" class="form-control" type="text" placeholder="Adicionar o restar nota"
        (blur)="calificationadd($event)">
    </div>
    <button (click)="printpdf()" class="btn btn-light w-100 mt-1">Compilar sesión en pdf</button>
  </div> -->





  <div *ngIf="photo.curso && photo.curso[0].integgers.length!=0" class="p-1">
    <p class="text-center">{{resumena==1?resumena+' aprobado':resumena+' aprobados'}} , {{resumenc}} con calificación 10
      y
      {{resumend==1?resumend+' desaprobado':resumend+' desaprobados'}}</p>
    <table *ngIf="photo.curso && photo.curso[0].integgers.length!=0">
      <tr style="height:1.2cm">
        <th>N</th>
        <th>Apellidos y nombres</th>
        <th>Calificación</th>
        <th>Fecha</th>
      </tr>
      <tr *ngFor="let ww_w of photo.curso[0].integgers index as i">
        <td>{{ i+1 }}
        </td>
        <td>
          {{ww_w.name }} {{ww_w.tipostd }}</td>
        <td class="w-15">
          <span *ngIf="ww_w.tassk.length==0" class="d-flex">
            <input type="file" class="d-none"
              (change)="createtaskimg($event, photo.respuesta, photo._id, photo.unidad, photo.curse, ww_w._id)" #linkk>
            <input type="text" style="width:5em" class="form-control p-1 mx-1"
              [disabled]="ww_w.tipostd=='P'?'false':loading" [value]="ww_w.tipostd=='P'?'L':''"
              (blur)="savetask($event, photo._id, photo.unidad, photo.curse, ww_w._id, photo.curso[0].codigo, photo.curso[0].ciclo, photo.curso[0].mencion, photo.curso[0].user )">
          </span>


          <span *ngFor="let w of ww_w['tassk'] index as i" class="d-flex">
            <span class="input-group">
              <!-- <button [ngClass]="[w.img ? 'btn btn-primary':'btn btn-warning']" style="width: 5em;"
                  (click)="updatetask(w._id)">
                  {{w.task.length}}
                </button> -->

              <!-- <button [ngClass]="[w.img ? 'btn btn-info shadow-none':'btn btn-primary shadow-none']"
                  (click)="open1(ww, w._id, w.task, w.solution, w.img?w.img:'Sin archivo')">
                </button> -->
              <!-- <mat-icon svgIcon="file" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->

              <!-- <button class="btn btn-secondary"
                  (click)="calificationsimilarone(w._id, w.task, w.createdAt )">cs1</button>
                <button class="btn btn-primary"
                (click)="calificationsolutionone(w._id, w.task, w.solution)">CS1</button> -->
              <!-- <input [disabled]="loading" style="width:3em" type="text" class="form-control p-1 bg-info border-0"
                  [value]="w.solution" (blur)="updateTasksolution($event, w.note, w._id, w.task, w.asistence)"> -->
              <!-- <img [src]="apiUrl+'/'+w.img" class="img-card-top"
                    style='height: 190px; position: relative; object-fit: cover;'
                    (error)="onImgError($event)"> -->
              <input [disabled]="loading" class="form-control" style="width:1em" type="text"
                [ngClass]="[w.nota>10 ? 'form-control p-1 bg-danger  border-0':'form-control p-1 bg-light border']"
                [value]="w.note" (blur)="updateTask($event, w.solution, w._id, w.task, w.asistence)">
              <button class='btn btn-warning' (click)="errasetask(w._id)"> - </button>
            </span>
          </span>
        </td>
        <td>
          <span *ngFor="let w of ww_w['tassk'] index as i" class="d-flex">
            <span *ngIf='w.createdAt'>{{w.createdAt | date:'dd/MM/YY hh:mm'}}</span>
            <span *ngIf='w.updatedAt && !w.createdAt'>{{w.updatedAt | date:'dd/MM/YY hh:mm'}}</span>
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="my-3"></div>

<div class="fixed-bottom">
  <!-- <mat-progress-bar [value]="progresValue" *ngIf="progresValue > 0"></mat-progress-bar> -->
</div>