<div Ngxheadroom   [options]="options" class="fixed-navbar">
    <app-navigation></app-navigation>
</div>
<!--
New
-->
<div class="height"></div>
<ng-template #new let-modal>
    <div class="modal-header" [ngStyle]="{background:'orange'}">
      <div class="h5">
        {{text}}
      </div>
    </div>
    <div class="modal-body" [ngStyle]="{background:'orange'}">
        <ng-katex-html [html]="texto"></ng-katex-html>
        <div *ngIf="textoimg.split('.').pop()=='png'||textoimg.split('.').pop()=='jpg'||textoimg.split('.').pop()=='jpeg'||textoimg.split('.').pop()=='svg'">
          <img [src]="apiURL+'/'+ textoimg" class="m-auto w-100 img-fluid" (error)="onImgError($event)">
        </div>
        <div class="bg-light text-center border rounded">
            {{textoimg}}
        </div>
        <ngx-extended-pdf-viewer *ngIf="textoimg && textoimg.split('.').pop()=='pdf'"
        [src]="apiURL+'/'+ textoimg"
        [height]="'800px'"
        [useBrowserLocale]="false"
        [textLayer]="true"
        [showHandToolButton]="false">
      </ngx-extended-pdf-viewer>
    </div>
    <div class="modal-footer" [ngStyle]="{background:'orange'}">
        <button type="button" class="btn btn-success shadow-none" (click)="modal.close('Save click')">Cerrar</button>
    </div>
</ng-template>
<!--
New refresh
-->
<ng-template #ww let-modal>
    <form (submit)="integer(code)">
        <div class="modal-body bg-succes">
            <div class="form-group mb-3">
                <label for="exampleFormControlInput1" class="form-label">Código</label>
                <input type="text" class="form-control shadow-none" placeholder="Código del curso" #code>
            </div>
            <!--{{idcurso}}{{idcurso}}--{{iduserteach}}-->
        </div>
        <button class="btn d-none" [disabled]="loading" #www></button>

    </form>
    <div class="modal-footer">
        <button class="btn btn-info mt-1" [disabled]="loading" (click)="www.click()">{{ loading=='false' ? 'Cargando': 'Integrarse al curso'}}</button>
        <button class="btn btn-info shadow-none" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>

<!--
-->
<ng-template #www let-modal>
  <form class="container p-3" (submit)="updatenews(title, description, show)">
      <div class="row p-0">

        <div class="form-group mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo</label>
            <input type="text" class="form-control" placeholder="Photo's Title" #title  [value]="titlewww">
        </div>
        <div class="form-group mb-3">
            <label for="exampleFormControlInput1" class="form-label">Show</label>
            <input type="text" class="form-control" placeholder="Photo's Title" #show  [value]="showww">
        </div>

          <div class="form-group mb-3 ">
              <label for="exampleFormControlInput1" class="form-label">Descripción</label>
              <div class="row mx-1">
                  <div class="col-md-5 p-0">
                      <textarea rows="5" cols="0" class="variable-textarea form-control" [(ngModel)]="markdown" [ngModelOptions]="{standalone:true}" [value]="description" #description></textarea>
                  </div>
                   <div class="form-group mb-3 col-md-7">
                    <ng-katex-html [html]="markdown"></ng-katex-html>
                  </div>
              </div>
          </div>


      </div>
      <input type="file" class="d-none" (change)="capturandoFile($event)" #photoInput>
      <div  class="text-center">
      <img [src]="photoSelected || apiURL+'/'+ imgwww" class="m-auto w-25 cursorpoint img-fluid" (error)="onImgError($event)" alt="No image" (click)="photoInput.click()">
    </div>

      <div *ngIf="!photoSelected" class="bg-light text-center border rounded">
          {{imgwww}}
      </div>
      <div *ngIf="photoSelected" class="bg-light text-center border rounded">
          {{name}}
      </div>
<span>{{imgwww}}</span>
      <ngx-extended-pdf-viewer *ngIf="photoSelected && type=='application/pdf'"
      [src]="photoSelected"
      [height]="'1000px'"
      [useBrowserLocale]="false"
      [textLayer]="true"
      [showHandToolButton]="true">
  </ngx-extended-pdf-viewer>

      <ngx-extended-pdf-viewer *ngIf="!photoSelected && imgwww && imgwww.split('.').pop()=='pdf'"
      [src]="apiURL+'/'+ imgwww"
      [height]="'800px'"
      [useBrowserLocale]="false"
      [textLayer]="true"
      [showHandToolButton]="false">
  </ngx-extended-pdf-viewer>

  <mat-progress-bar *ngIf="value > 0" color="accent" mode="determinate" [value]="value"></mat-progress-bar>

{{ loading=='false' ? 'Cargando '+value+'%': null}}

      <button class="btn d-none" [disabled]="loading" #www></button>
  </form>
    <div class="modal-footer">
        <button class="btn btn-info mt-1" [disabled]="loading" (click)="www.click()">{{ loading=='false' ? 'Cargando': 'Refresh news'}}</button>
        <button class="btn btn-info shadow-none" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>


<div class="container">
    <div class="container text-center">
        <div class="container d-flex justify-content-center align-items-center">
            <!--
               <app-themes></app-themes>
               -->
        </div>

        <button *ngIf="user" class="btn card-photo mt-2 shadow-none text-light" (click)="open1(ww, 'www', 'www')">
            <mat-icon svgIcon="integrate" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            Integrarse a un curso
        </button>

        <button *ngIf="rol=='1'" class="btn card-photo mt-2 shadow-none text-light" (click)="createnews()">
            <mat-icon svgIcon="integrate" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            New's {{ newws ? newws.length : null }}
        </button>
    </div>

    <swiper *ngIf="user && newws.length!==0" [config]="config" [effect]="'coverflow'" [grabCursor]="true" [loop]="true" [spaceBetween]='0' [autoplay]="{delay: 2000,
      disableOnInteraction: true}" [centeredSlides]="true" [slidesPerView]="'auto'" [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }" [pagination]="{clickable: true, type: 'progressbar'}" >
        <ng-template swiperSlide *ngFor="let photo of newws index as i">
            <img [src]="apiURL+'/'+photo.img" class="img-card-top" (error)="onImgError($event)">
            <div class="mytesttop w-100 text-warning h2">
                <button class="btn btn-warning card-photo text-uppercase" (click)="openwww(new, photo.title, photo.description, photo.img)">
                  {{photo.title}}
                </button>
            </div>
            <div class="mytest w-100">
                <div *ngIf="photo.show=='false'; then thenBlock else elseBlock"></div>
                  <div class="btn-group" role="group" aria-label="Basic example">
                  <ng-template #thenBlock>
                    <button *ngIf="rol=='1'" class="btn btn-success shadow-none" (click)="newsemergent( $any(photo)._id, 'true')">
                      <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                      Show
                    </button>
                  </ng-template>
                  <ng-template  #elseBlock>
                    <button *ngIf="rol=='1'" class="btn btn-info shadow-none" (click)="newsemergent( $any(photo)._id, 'false')">
                    <mat-icon svgIcon="getout" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Hide
                  </button>
                  </ng-template>

                <button *ngIf="rol=='1'" class="btn btn-warning shadow-none" (click)="deletenews( $any(photo)._id)">
                    <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Delete
                </button>
                <button *ngIf="rol=='1'" class="btn btn-primary shadow-none" (click)="open2(www, photo._id, photo.title, photo.description, photo.img, photo.show)">
                    <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Edit
                </button>
              </div>
            </div>

        </ng-template>
    </swiper>

    <div *ngIf="user && newws.length!==0 && rol=='1'" class="container text-center text-light">
        NEW'S
    </div>
    <div *ngIf="user && newws.length!==0 && rol=='1'" class="row d-flex justify-content-center align-items-center border">
        <div class="col-md-4 p-2"  *ngFor="let photo of newws index as i">
          <div class='cardnew text-align-right'>

            <img [src]="apiURL+'/'+photo.img" class="img-card-top imgcurse" (error)="onImgError($event)">

            <div class="w-100">
              <div class='text-align-right h5 text-center bg-light p-1 m-1 rounded border'>
                {{photo.title}}
              </div>
              <div class='text-align-right h5 text-center bg-light p-1 m-1 rounded border'>
                <button class="btn btn-outline-info card-photo text-uppercase" (click)="openwww(new, photo.title, photo.description, photo.img)">
                  <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                </button>
                <div *ngIf="photo.show=='false'; then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>
                    <button *ngIf="rol=='1'" class="btn btn-outline-success shadow-none card-photo" (click)="newsemergent( $any(photo)._id, 'true')">
                      <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                      Show
                    </button>
                  </ng-template>
                  <ng-template  #elseBlock>                <button *ngIf="rol=='1'" class="btn btn-light shadow-none card-photo" (click)="newsemergent( $any(photo)._id, 'false')">
                    <mat-icon svgIcon="getout" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Hide
                  </button>
                  </ng-template>

                <button *ngIf="rol=='1'" class="btn btn-outline-secondary shadow-none card-photo" (click)="deletenews( $any(photo)._id)">
                    <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Delete
                </button>
                <button *ngIf="rol=='1'" class="btn btn-outline-info shadow-none  card-photo" (click)="open2(www, photo._id, photo.title, photo.description, photo.img, photo.show)">
                    <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Editar
                </button>
              </div>
            </div>


        </div>
      </div>
    </div>

    <div *ngIf="user && newws.length!==0 && rol=='1'" class="container text-center mt-3 text-light">
        CURSOS
    </div>
<div *ngIf="user && photointeger.length!==0" class="row d-flex justify-content-center align-items-center bg-warning">
  <div class="d-none h5 text-dark justify-content-center w-100">
    Tus cursos
   </div>
    <div class="col-md-4 p-2" *ngFor="let photo of photointeger index as i">
      <div class='card border-0 text-align-right text-light'>
        <img [src]="apiURL+'/'+photo.curse[0].img" class="img-card-top imgcurse" (error)="onImgError($event)">
        <img [src]="apiURL+'/'+photo.userw[0].foto" class="wrapperest5" (error)="onImgError($event)">
        <div class="text-center text-uppercase">
          {{photo.curse[0].title}}
        </div>
        <div class="mytesttop w-100 text-center">

            <button class="btn shadow-none text-info card-photo" (click)="deleteinteger( $any(photo)._id)">
                <mat-icon svgIcon="getout" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                Salir del curso
            </button>
            <button class="btn btn-primary shadow-none card-photo" (click)="goCurse( $any(photo).curse[0]._id)">
                <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                Ir al curso
            </button>
          </div>
        </div>


    </div>
</div>

    <div *ngIf="rol=='1'" class="row d-flex justify-content-center align-items-center">

        <div class="col-md-4 p-2" *ngFor="let photo of integeruser index as i">
            <div [ngClass]="[photo.integer.length > 0 ? 'cardnew_ text-align-right text-light' : 'cardnew text-align-right']">
                <div class="card-header h5 text-center text-uppercase text-light">
                    {{photo.title}}
                </div>
                <div class="card-body">
                    <img *ngIf="photo.img" [src]="apiURL+'/'+photo.img" class="img-card-top imgcurse" (error)="onImgError($event)">
                    <img *ngIf="photo.user.length>0" [src]="apiURL+'/'+photo.user[0].foto" class="img-card-top wrapperest5" (error)="onImgError($event)"> {{$any(photo).integers.length}}
                </div>
                <div class="card-footer d-flex justify-content-center align-items-center">

                    <button *ngIf='photo.integer.length == 0' class="btn shadow-none card-photo" (click)="open1(ww, $any(photo)._id, '$any(photo).user[0]._id')">
                        <mat-icon svgIcon="integrate" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                        Integrarse al curso
                    </button>
                    <button *ngIf='photo.integer.length > 0' class="btn shadow-none card-photo text-light" (click)="deleteinteger( $any(photo).integer[0]._id)">
                        <mat-icon svgIcon="getout" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                        Salir del curso
                    </button>
                    <button *ngIf="photo.integer.length > 0 || rol=='1'" class="btn shadow-none card-photo text-info" (click)="goCurse( $any(photo)._id)">
                        <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                        Ir al curso
                    </button>
                </div>
            </div>
        </div>
    </div>


    <swiper [config]="config" [effect]="'coverflow'" [grabCursor]="true" [loop]="true" [spaceBetween]='0' [autoplay]="{delay: 2000,
      disableOnInteraction: true}" [centeredSlides]="true" [slidesPerView]="'auto'" [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }" [pagination]="true" class="mySwiper">
        <ng-template swiperSlide><img src="https://cdn.pixabay.com/photo/2015/02/08/10/47/art-628312__340.jpg" /></ng-template>
        <ng-template swiperSlide><img src="https://cdn.pixabay.com/photo/2015/03/18/11/01/fractal-679121__340.jpg" /></ng-template>
        <ng-template swiperSlide><img src="https://cdn.pixabay.com/photo/2021/08/17/17/55/fractal-6553758__340.jpg" /></ng-template>
        <ng-template swiperSlide><img src="https://cdn.pixabay.com/photo/2015/09/01/04/56/mandelbrot-september-916463__340.jpg" /></ng-template>
        <ng-template swiperSlide><img src="https://cdn.pixabay.com/photo/2020/05/22/19/27/fractal-5206796__340.jpg" /></ng-template>
        <ng-template swiperSlide><img src="https://cdn.pixabay.com/photo/2021/04/17/18/49/fractal-6186559__340.jpg" /></ng-template>
        <ng-template swiperSlide><img src="https://cdn.pixabay.com/photo/2021/08/19/20/17/fractal-6558900__340.jpg" /></ng-template>
        <ng-template swiperSlide><img src="https://media.istockphoto.com/photos/illustration-of-a-beautiful-infinite-mathematical-mandelbrot-set-picture-id1391077654?b=1&k=20&m=1391077654&s=170667a&w=0&h=_EemGufma44nO_vvB7V8AL8J9klv-h2vWvOm4G37E-A=" /></ng-template>
    </swiper>
    <div class="this2 container-flex p-0">
        <div class="card text-center p-0 border-0">
            <div class="card-body ">
                <div class="row align-items-center">
                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/Z4F72MHFP7g?autoplay=1' width='100%' height='315px'>
                        </object>

                    </div>
                    <div class="container text-center p-1 col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/nEP80N7_qMc?autoplay=1' width='100%' height='315px'>
                        </object>
                    </div>
                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/LpWhaBVIrZw?autoplay=1' width='100%' height='315px'>
                        </object>
                    </div>
                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/a-3EsAf2qzs?autoplay=1' width='100%' height='315px'>
                        </object>
                    </div>
                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/96aX1emdwf8?autoplay=0' width='100%' height='315px'>
                        </object>
                    </div>

                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/e0HbSRk3JOE?autoplay=0' width='100%' height='315px'>
                        </object>
                    </div>
                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/eZu2bQNp9BY?autoplay=0' width='100%' height='315px'>
                        </object>

                    </div>

                </div>
            </div>
        </div>



        <div class="card-body ">
            <div class="row align-items-center">


                <div class="container text-center p-1 col-md-6 col-lg-4 col-xl-4">
                    <iframe title="Fractal Alien Landmark" frameborder="0" width="100%" height="480" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/a2be9c119f7848df9864c0df1272af06/embed"> </iframe>
                </div>
                <div class="container text-center p-1 col-md-6 col-lg-4 col-xl-4">
                    <iframe title="Cthulhu (Animated)" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="480" src="https://sketchfab.com/models/e4593e6681e84889a4d1df34ae30b5c6/embed"> </iframe>
                </div>

                <div class="container text-center p-1 col-md-6 col-lg-4 col-xl-4">
                    <iframe title="Hand study" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="480" src="https://sketchfab.com/models/3fc387eae6f34901b67bb74672016977/embed"> </iframe>
                </div>

                <div class="container text-center p-1 col-md-6 col-lg-4 col-xl-4">
                    <iframe title="Study" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="480" src="https://sketchfab.com/models/9b3f278bacc54f219addd98215008ceb/embed"> </iframe>
                </div>

                <div class="container text-center p-1 col-md-6 col-lg-4 col-xl-4">
                    <iframe title="Sculpture Allure" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" width="100%" height="480" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/eb51e179d6634973875205a8485940d4/embed"> </iframe>
                </div>

                <div class="container text-center p-1 col-md-6 col-lg-4 col-xl-4">
                    <iframe title="Rossebändiger" frameborder="0" allowfullscreen mozallowfullscreen="true" width="100%" height="480" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/fd8153d1cd8d4fefaf4825d8a0c6abe3/embed"> </iframe>
                </div>
                <div class="container text-center p-1 col-md-6 col-lg-4 col-xl-4">
                    <iframe title="My Sketchfab Mesh" frameborder="0" width="100%" height="480" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/f39c1bc8170c44348f3bea92868a8dae/embed"> </iframe>
                </div>

            </div>
        </div>
    </div>
</div>






<!--
        <!--
        <button class="btn btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>
        <h1>
            Angular Read More| Read less button link example</h1>

        <div [ngClass]="{'limitTextHeight': isReadMore}">

            This is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with read more/less link example in Angular application paragraph text shown here continue continue This is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with read more/less link example in Angular application paragraph text shown here continue continue THis is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with read more/less link example in Angular application paragraph text shown here continue continue
        </div>
        <button class="btn btn-info shadow-none" (click)="showText()">
            {{ isReadMore ? 'Read More': 'Read Less' }}
        </button>


        <div>
            {{(readMore) ? 'longText' : 'longText' | slice:0:3}}
            <span *ngIf="!readMore">...</span>
            <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">[Leer más]</a>
            <a href="javascript:;" *ngIf="readMore" (click)="readMore=false">[Leer menos]</a>
        </div>




    </div>
-->





<div class="this2 container-flex p-0 mt-5">


  <div class="container">
  <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=500&amp;hl=es&amp;q=+(Escuela%20de%20Bellas%20Artes%20Felipe%20Guam%C3%A1n%20Poma%20de%20Ayala-Ayacucho)&amp;t=k&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/car-satnav-gps/">Car GPS</a></iframe>
  <iframe src="https://www.google.com/maps/embed?pb=!4v1655850799758!6m8!1m7!1sGm3v-xYcR1tj1gz95RrkYg!2m2!1d-13.15635415471263!2d-74.2180525291301!3f124.85298126566764!4f2.1996870284465047!5f0.7820865974627469" width="100%" height="1000px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

    <div class="text-center text-white p-0 border-0">
        <div class="card-body ">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                    <h3>ESFAPA</h3>
                    <div class="container col-md-5 px-1">
                        <img class="img-fluid rounded" src="" (error)="onImgError($event)" alt="img" />
                    </div>
                    <p class="footer-links">
                        wwwwwww
                    </p>

                    <div></div>
                </div>

                <div class="container text-center p-1 col-md-6 col-lg-4 col-xl-4">


                    <div>
                        <i class="text-secondary fa fa-map-marker fa-2x"></i>
                        <p>Ayacucho-2021</p>
                    </div>
                    <div>
                        <i class="text-secondary fa fa-phone fa-2x"></i>
                        <p>esfapa@esfapa.edu.pe</p>
                    </div>
                    <div>
                        <i class="text-secondary fa fa-envelope fa-2x"></i>
                        <p>
                            <a class="text-secondary" href="wwwww"></a>
                        </p>
                    </div>
                </div>

<div class="container text-center p-5 col-md-6 col-lg-4 col-xl-4">
<p class="text-center text-info">
wwwwwwwwwwwwwwwwwwwwwwwwwwwwww
</p>

<a class="text-secondary mx-1" target="_blank" href="https://api.whatsapp.com/send?phone=+51 966878340&text=Hola%20bienvenido">
<mat-icon svgIcon="watsapp" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>
<a class="text-secondary" target="_blank" href="https://m.me/ricardo.mallquib">
<mat-icon svgIcon="messenger" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>
<a class="text-secondary mx-1" target="_blank" rel="noopener noreferrer" href="https://github.com/ricardofisma?tab=repositories">
<mat-icon svgIcon="github" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>
<a class="text-secondary mx-1" target="_blank" href="https://fismarte.blogspot.com">
<mat-icon svgIcon="blogspot" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>
<a class="text-secondary mx-1" target="_blank" href="https://web.facebook.com/ricardo.mallquib">
<mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>
<a class="text-secondary mx-1" target="_blank" href="https://rilatex.blogspot.com">
<mat-icon svgIcon="blogspot" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>
</div>
            </div>
        </div>
    </div>
</div>



<!--

<div class="fixed-footer" ngxHideOnScroll [propertyUsedToHide]="'transform'" [valueWhenHidden]="'translateY(100%)'" [valueWhenShown]="'translateY(0%)'">
    <h2>Fixed footer, with transition on hide/show.</h2>
</div>

<div class="row m-0 d-flex justify-content-center align-items-center">
    <div class="col-md-4 p-3 card-photo" *ngFor="let photo of photouser index as i">
        <div class="card" (click)="selectedCard($any(photo)._id)">
            <div class="card-header h5">
                {{photo.title}}
            </div>
            <div class="card-footer">
                <img [src]="apiURL+'/'+photo.imagePath" class="img-card-top wrapperest" (error)="onImgError($event)">
            </div>
            <div class="card-footer">
                <p>{{photo._id}}</p>

            </div>
        </div>
    </div>
</div>


<div class="row m-0 d-flex justify-content-center align-items-center">
    <div class="col-md-12 p-2" *ngFor="let photo of wwwww index as i">
        <div class="card bg-info text-align-right" (click)="selectedCard($any(photo)._id)">
            <div class="card-header h5">
                {{photo.title}}------------
                {{photo.img}}
            </div>
            <div class="card-footer">
                <img [src]="apiURL+'/'+photo.img" class="img-card-top w-100" (error)="onImgError($event)">
            </div>

        </div>
    </div>

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="row m-0 d-flex justify-content-center">

          <div class="example-box" *ngFor="let photo of photos" cdkDrag>
            <div class="example-custom-placeholder col-md-3" *cdkDragPlaceholder></div>

            <div class="card-header h5">
                {{photo.title}}------------
                {{photo.imagePath}}
            </div>
            <div class="card-footer">
                <img [src]="apiURL+'/'+photo.imagePath" class="img-card-top wrapperest">
            </div>
            <div class="card-footer">
                <p>{{photo._id}}</p>
            </div>
        </div>
    </div>
</div>
-->
