<div Ngxheadroom   [options]="options" class="fixed-navbar">
    <app-navigation></app-navigation>
</div>
<!--
New
-->
<div class="height"></div>
<ng-template #new let-modal>
    <div class="modal-header" [ngStyle]="{background:'rgb(150,0,0)'}">
      <div class="h5 text-light">
        {{text}}
      </div>
    </div>
    <div class="modal-body" [ngStyle]="{background:'gray'}">
        <ng-katex-html *ngIf="texto" [html]="texto"></ng-katex-html>
        <div *ngIf="textoimg.split('.').pop()=='png'||textoimg.split('.').pop()=='jpg'||textoimg.split('.').pop()=='jpeg'||textoimg.split('.').pop()=='svg'">
          <img [src]="apiURL+'/'+ textoimg" class="m-auto w-100 img-fluid" (error)="onImgError($event)">
        </div>
        <div class="bg-light text-center border rounded">
            {{textoimg}}
        </div>
        <ngx-extended-pdf-viewer *ngIf="textoimg && textoimg.split('.').pop()=='pdf'"
        [src]="apiURL+'/'+ textoimg"
        [height]="'800px'"
        [useBrowserLocale]="false"
        [textLayer]="true"
        [showHandToolButton]="false">
      </ngx-extended-pdf-viewer>
    </div>
    <div class="modal-footer" [ngStyle]="{background:'rgb(150,0,0)'}">
        <button type="button" class="btn btn-success shadow-none" (click)="modal.close('Save click')">Cerrar</button>
    </div>
</ng-template>
<!--
New refresh
-->
<ng-template #ww let-modal>
    <form (submit)="integer(code)">
        <div class="modal-body bg-succes">
            <div class="form-group mb-3">
                <label for="exampleFormControlInput1" class="form-label">Código</label>
                <input type="text" class="form-control shadow-none" placeholder="Código del curso" #code>
            </div>
            <!--{{idcurso}}{{idcurso}}--{{iduserteach}}-->
        </div>
        <button class="btn d-none" [disabled]="loading" #www></button>

    </form>
    <div class="modal-footer">
        <button class="btn btn-info mt-1" [disabled]="loading" (click)="www.click()">{{ loading=='false' ? 'Cargando': 'Integrarse al curso'}}</button>
        <button class="btn btn-info shadow-none" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>

<ng-template #www let-modal>
  <form class="container p-3" (submit)="updatenews(title, description, show)">
      <div class="row p-0">

        <div class="form-group mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo</label>
            <input type="text" class="form-control" placeholder="Photo's Title" #title  [value]="titlewww">
        </div>
        <div class="form-group mb-3">
            <label for="exampleFormControlInput1" class="form-label">Show</label>
            <input type="text" class="form-control" placeholder="Photo's Title" #show  [value]="showww">
        </div>

          <div class="form-group mb-3 ">
              <label for="exampleFormControlInput1" class="form-label">Descripción</label>
              <div class="row mx-1">
                  <div class="col-md-5 p-0">
                      <textarea rows="5" cols="0" class="variable-textarea form-control" [(ngModel)]="markdown" [ngModelOptions]="{standalone:true}" [value]="description" #description></textarea>
                  </div>
                   <div class="form-group mb-3 col-md-7">
                    <ng-katex-html [html]="markdown"></ng-katex-html>
                  </div>
              </div>
          </div>


      </div>
      <input type="file" class="d-none" (change)="capturandoFile($event)" #photoInput>
      <div  class="text-center">
      <img [src]="photoSelected || apiURL+'/'+ imgwww" class="m-auto w-25 cursorpoint img-fluid" (error)="onImgError($event)" alt="No image" (click)="photoInput.click()">
    </div>

      <div *ngIf="!photoSelected" class="bg-light text-center border rounded">
          {{imgwww}}
      </div>
      <div *ngIf="photoSelected" class="bg-light text-center border rounded">
          {{name}}
      </div>
<span>{{imgwww}}</span>
      <ngx-extended-pdf-viewer *ngIf="photoSelected && type=='application/pdf'"
      [src]="photoSelected"
      [height]="'1000px'"
      [useBrowserLocale]="false"
      [textLayer]="true"
      [showHandToolButton]="true">
  </ngx-extended-pdf-viewer>

      <ngx-extended-pdf-viewer *ngIf="!photoSelected && imgwww && imgwww.split('.').pop()=='pdf'"
      [src]="apiURL+'/'+ imgwww"
      [height]="'800px'"
      [useBrowserLocale]="false"
      [textLayer]="true"
      [showHandToolButton]="false">
  </ngx-extended-pdf-viewer>

  <mat-progress-bar *ngIf="value > 0" color="accent" mode="determinate" [value]="value"></mat-progress-bar>

{{ loading=='false' ? 'Cargando '+value+'%': null}}

      <button class="btn d-none" [disabled]="loading" #www></button>
  </form>
    <div class="modal-footer">
        <button class="btn btn-info mt-1" [disabled]="loading" (click)="www.click()">{{ loading=='false' ? 'Cargando': 'Refresh news'}}</button>
        <button class="btn btn-info shadow-none" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>


<div class="container">


    <swiper *ngIf="user && newws.length!==0" [config]="config" [effect]="'coverflow'" [grabCursor]="true" [loop]="true" [spaceBetween]='0' [autoplay]="{delay: 2000,
      disableOnInteraction: true}" [centeredSlides]="true" [slidesPerView]="'auto'" [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }" [pagination]="{clickable: true, type: 'progressbar'}" >
        <ng-template swiperSlide *ngFor="let photo of newws index as i">
            <img [src]="apiURL+'/'+photo.img" class="img-card-top" (error)="onImgError($event)">
            <div class="mytesttop w-100 text-warning h2">
                <button class="btn btn-warning card-photo text-uppercase" (click)="openwww(new, photo.title, photo.description, photo.img)">
                  {{photo.title}}
                </button>
            </div>
            <div class="mytest w-100">
                <div *ngIf="photo.show=='false'; then thenBlock else elseBlock"></div>
                  <div class="btn-group" role="group" aria-label="Basic example">
                  <ng-template #thenBlock>
                    <button *ngIf="rol=='1'" class="btn btn-success shadow-none" (click)="newsemergent( $any(photo)._id, 'true')">
                      <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                      Show
                    </button>
                  </ng-template>
                  <ng-template  #elseBlock>
                    <button *ngIf="rol=='1'" class="btn btn-info shadow-none" (click)="newsemergent( $any(photo)._id, 'false')">
                    <mat-icon svgIcon="getout" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Hide
                  </button>
                  </ng-template>

                <button *ngIf="rol=='1'" class="btn btn-warning shadow-none" (click)="deletenews( $any(photo)._id)">
                    <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Delete
                </button>
                <button *ngIf="rol=='1'" class="btn btn-primary shadow-none" (click)="open2(www, photo._id, photo.title, photo.description, photo.img, photo.show)">
                    <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Edit
                </button>
              </div>
            </div>

        </ng-template>
    </swiper>

    <div class="container text-center">
        <div class="container d-flex justify-content-center align-items-center">
            <!--
               <app-themes></app-themes>
               -->
        </div>

        <button *ngIf="rol=='1' || rol=='5'" class="btn card-photo btn-info mt-2 shadow-none text-light" (click)="open1(ww, 'www', 'www')">
            <mat-icon svgIcon="integrate" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> Integrase a un curso
        </button>

        <button *ngIf="rol=='1' || rol=='5'" class="btn card-photo btn-success mt-2 shadow-none text-light" (click)="createnews()">
            <mat-icon svgIcon="integrate" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            New's {{ newws ? newws.length : null }}
        </button>
    </div>



    <div *ngIf="newws.length!==0 && rol=='1' ||  rol=='5'" class="container text-center text-light">
        NEW'S
    </div>
    <div *ngIf="newws.length!==0 && rol=='1' ||  rol=='5'" class="row d-flex justify-content-center align-items-center border">
        <div class="col-md-4 p-2"  *ngFor="let photo of newws index as i">
          <div class='cardnew text-align-right'>

            <img [src]="apiURL+'/'+photo.img" class="img-card-top imgcurse" (error)="onImgError($event)">

            <div class="w-100">
              <div class='text-align-right h5 text-center bg-light p-1 m-1 rounded border'>
                {{photo.title}}
              </div>
              <div class='text-align-right h5 text-center bg-light p-1 m-1 rounded border'>
                <button class="btn btn-outline-info card-photo text-uppercase" (click)="openwww(new, photo.title, photo.description, photo.img)">
                  <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                </button>
                <div *ngIf="photo.show=='false'; then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>
                    <button *ngIf="rol=='1'" class="btn btn-outline-success shadow-none card-photo" (click)="newsemergent( $any(photo)._id, 'true')">
                      <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                      Show
                    </button>
                  </ng-template>
                  <ng-template  #elseBlock>                <button *ngIf="rol=='1'" class="btn btn-light shadow-none card-photo" (click)="newsemergent( $any(photo)._id, 'false')">
                    <mat-icon svgIcon="getout" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Hide
                  </button>
                  </ng-template>

                <button *ngIf="rol=='1'" class="btn btn-outline-secondary shadow-none card-photo" (click)="deletenews( $any(photo)._id)">
                    <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Delete
                </button>
                <button *ngIf="rol=='1'" class="btn btn-outline-info shadow-none  card-photo" (click)="open2(www, photo._id, photo.title, photo.description, photo.img, photo.show)">
                    <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Editar
                </button>
              </div>
            </div>


        </div>
      </div>
    </div>

    <div *ngIf="rol=='1' || rol=='3' && photointeger.length!==0" class="container text-center mt-3 text-light">
        CURSOS ESTUDIANTE
    </div>
<div *ngIf="rol=='1' || rol=='3' && photointeger.length!==0" class="row d-flex justify-content-center align-items-center bg-warning">
  <div class="d-none h5 text-dark justify-content-center w-100">
    Tus cursos
   </div>
    <div class="col-md-4 p-2" *ngFor="let photo of photointeger index as i">
      <div class='card border-0 text-align-right text-light'>
        <img [src]="apiURL+'/'+photo.curse[0].img" class="img-card-top imgcurse" (error)="onImgError($event)">
        <img [src]="apiURL+'/'+photo.userw[0].foto" class="wrapperest5" (error)="onImgError($event)">
        <div class="text-center text-uppercase text-info">
          {{photo.curse[0].title}}
        </div>
        <div class="mytesttop w-100 text-center">

            <button class="btn shadow-none text-info card-photo" (click)="deleteinteger( $any(photo)._id)">
                <mat-icon svgIcon="getout" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                Salir del curso
            </button>
            <button class="btn btn-primary shadow-none card-photo" (click)="goCurse( $any(photo).curse[0]._id)">
                <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                Ir al curso
            </button>
          </div>
        </div>


    </div>
</div>


<div *ngIf="rol=='1' || rol=='2' && CurseTeacher.length!==0" class="container text-center mt-3 text-light">
    CURSOS DOCENTE
</div>
<div *ngIf="user && CurseTeacher.length!==0 ||  rol=='2'" class="row d-flex justify-content-center align-items-center border border-warning my-3">
<div class="d-none h5 text-dark justify-content-center w-100">
Tus cursos
</div>
<div class="col-md-4 p-2" *ngFor="let photo of CurseTeacher index as i">
  <div class='card text-align-right border'>
    <div class="text-center text-uppercase">
      {{photo.title}} [{{photo.especialidad}}-{{photo.ciclo}}]
    </div>
    <img [src]="apiURL+'/'+photo.img" class="img-card-top imgcurse" (error)="onImgError($event)">
    <div class="mytesttop w-100 text-center">
        <button class="btn btn-light shadow-none card-photo" (click)="goCurse( $any(photo)._id)">
            <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            Ir al curso
        </button>
      </div>
    </div>


</div>
</div>


    <div *ngIf="rol=='1'" class="container my-2 bg-light border rounded">
    <div class="h5 text-center">
      RECOMENDACIONES DE USO
    </div>

    <div class="bg -info">

      ¡Estimado usuario!
      <ol>
        <li>Utiliza el sistema con responsabilidad como práctica de valor. Usted declara y garantiza que toda la información que proporciona a la ESFAP "FGPA" es correcta, completa y vigente, y se compromete a actualizar dicha información cuando sea necesaria. También admite que cualquier información proporcionada por usted no violará ninguna ley o reglamento, ni infringirá los derechos de terceros.</li>
      <li>El usuario y la contraseña es de uso personal, su divulgación y/o manipulación ajena no es responsabilidad de la ESFAP "FGPA".</li>
      <li>Se recuerda cerrar sesión siempre que termine de usar el sistema. Cualquier cambio en el sistema se le comunicará al correo electrónico que registró. </li>
      <li>La ESFAP "FGPA" no envía ningún tipo de publicidad mediante correo electrónico, solo emite comunicados oficiales con sello, firma y fecha.</li>
      <li>El contenido de la ESFAP "FGPA" y otras obras de autoría que se encuentran en el servicio, o forman parte del mismo (colectivamente, el "Contenido"), están protegidos por las leyes aplicables de derechos de autor y los tratados internacionales de derechos de autor, así como por otras leyes y tratados de propiedad intelectual.</li>
      <li>Usted no puede realizar copias no autorizadas o utilizar ninguna parte del Contenido. Todos los títulos y derechos de autor del contenido y del servicio (incluyendo, entre otros, imágenes, fotografías, animaciones, vídeos, audios, códigos, artículos, textos y documentos incorporados al Servicio) constituyen propiedad institucional o sus licenciadores.</li>
      <li>Usted debe cumplir con todas las leyes aplicables sobre protección de derechos de autor en relación con el uso del servicio y del contenido. Además, de lo estipulado en estos términos de servicio, la Institución podrá adoptar medidas adecuadas para proteger los derechos de autor.</li>
</ol>
    </div>
    </div>

<div *ngIf="user && rol=='1'" class="container text-center mt-3 text-light">
    CURSOS ALL
</div>
    <div *ngIf="rol=='1'" class="row d-flex justify-content-center align-items-center">
        <div class="col-md-4 p-2" *ngFor="let photo of integeruser index as i">
            <div class='cardnew text-align-right text-light'>
                <div class="card-header h5 text-center text-uppercase text-light">
                    {{photo.title}} [{{photo.especialidad}}-{{photo.ciclo}}]
                </div>
                <div class="card-body text-info">
                    <img *ngIf="photo.img" [src]="apiURL+'/'+photo.img" class="img-card-top imgcurse" (error)="onImgError($event)">
                    <img *ngIf="photo.user.length>0" [src]="apiURL+'/'+photo.user[0].foto" class="img-card-top wrapperest5" (error)="onImgError($event)">{{photo.user[0].name}}  {{$any(photo).integers.length}}
                </div>
                <div class="card-footer d-flex justify-content-center align-items-center">

                    <button *ngIf='photo.integer.length == 0' class="btn shadow-none card-photo" (click)="open1(ww, $any(photo)._id, '$any(photo).user[0]._id')">
                        <mat-icon svgIcon="integrate" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                        Integrarse al curso
                    </button>
                    <button *ngIf='photo.integer.length > 0' class="btn shadow-none card-photo text-light" (click)="deleteinteger( $any(photo).integer[0]._id)">
                        <mat-icon svgIcon="getout" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                        Salir del curso
                    </button>
                    <button *ngIf="photo.integer.length > 0 || rol=='1'" class="btn shadow-none card-photo text-info" (click)="goCurse( $any(photo)._id)">
                        <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                        Ir al curso
                    </button>
                </div>
            </div>
        </div>
    </div>


    <swiper [config]="config" [effect]="'coverflow'" [grabCursor]="true" [loop]="true" [spaceBetween]='0' [autoplay]="{delay: 2000,
      disableOnInteraction: true}" [centeredSlides]="true" [slidesPerView]="'auto'" [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }" [pagination]="true" class="mySwiper">
        <ng-template swiperSlide><img src="../assets/img1.jpg" /></ng-template>
        <ng-template swiperSlide><img src="../assets/img2.jpg" /></ng-template>
        <ng-template swiperSlide><img src="../assets/img3.jpg" /></ng-template>
        <ng-template swiperSlide><img src="../assets/img4.jpg" /></ng-template>
        <ng-template swiperSlide><img src="../assets/img5.jpg" /></ng-template>
        <ng-template swiperSlide><img src="../assets/img6.jpg" /></ng-template>
        <ng-template swiperSlide><img src="../assets/img7.jpg" /></ng-template>
        <ng-template swiperSlide><img src="../assets/img8.jpg" /></ng-template>
        <ng-template swiperSlide><img src="../assets/img9.jpg" /></ng-template>
    </swiper>
      <div class="container bg-info border rounded p-2 h2 text-center">
PORTAL INSTITUCIONAL
    </div>


    <div class="container-flex p-0">
        <div class="text-center p-0 border-0">
            <div class="card-body ">
                <div class="row align-items-center">
                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/_3GDNB8f-hM?autoplay=1' width='100%' height='315px'>
                        </object>
                        <div class="bg-light">
                        <div class="h3">
                          Título
                        </div>

                        <div class="bg -info">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolore sed ipsa voluptatum odio non rerum molestiae enim ea quaerat velit excepturi nam vel, hic, mollitia doloremque voluptas accusantium ut
                        </div>
                        </div>

                    </div>
                    <div class="container text-center p-1 col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/pUGqJjzac3E?autoplay=1' width='100%' height='315px'>
                        </object>

                        <div class="bg-light">
                        <div class="h3">
                          Título
                        </div>

                        <div class="bg -info">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolore sed ipsa voluptatum odio non rerum molestiae enim ea quaerat velit excepturi nam vel, hic, mollitia doloremque voluptas accusantium ut
                        </div>
                        </div>

                    </div>
                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/dIzH8bWEBfI?autoplay=1' width='100%' height='315px'>
                        </object>
                        <div class="bg-light">
                        <div class="h3">
                          Título
                        </div>

                        <div class="bg -info">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolore sed ipsa voluptatum odio non rerum molestiae enim ea quaerat velit excepturi nam vel, hic, mollitia doloremque voluptas accusantium ut
                        </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container-flex p-0">
            <div class="text-center p-0 border-0">
                <div class="card-body ">
                    <div class="row align-items-center">
                        <div class="container text-center p-1  col-md-6 col-lg-3 col-xl-3">
                            <img class="w-100" src="../assets/img3.jpg" />
                            <div class="bg-light">
                            <div class="h5">
                              SECRETARIA
ACADÉMICA
                            </div>
<hr>
                            <div class="bg -info">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolore sed ipsa voluptatum odio non rerum molestiae enim ea quaerat velit excepturi nam vel, hic, mollitia doloremque voluptas accusantium ut
                            </div>
                            </div>
                        </div>
                        <div class="container text-center p-1 col-md-6 col-lg-3 col-xl-3">
                            <img class="w-100" src="../assets/img3.jpg" />
                            <div class="bg-light">
                            <div class="h5">
                              ÁREA DE ADMINISTRACIÓN
                            </div>
<hr>
                            <div class="bg -info">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolore sed ipsa voluptatum odio non rerum molestiae enim ea quaerat velit excepturi nam vel, hic, mollitia doloremque voluptas accusantium ut
                            </div>
                            </div>

                        </div>
                        <div class="container text-center p-1  col-md-6 col-lg-3 col-xl-3">
                          <img class="w-100"src="../assets/img3.jpg" />
                            <div class="bg-light">
                            <div class="h5">
                              CONSEJO ESTUDIANTIL
                            </div>
<hr>
                            <div class="bg -info">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolore sed ipsa voluptatum odio non rerum molestiae enim ea quaerat velit excepturi nam vel, hic, mollitia doloremque voluptas accusantium ut
                            </div>
                            </div>

                        </div>

                        <div class="container text-center p-1  col-md-6 col-lg-3 col-xl-3">
                          <img class="w-100"src="../assets/img3.jpg" />
                            <div class="bg-light">
                            <div class="h5">
                              GRADOS Y TÍTULOS
                            </div>
                        <hr>
                            <div class="bg -info">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolore sed ipsa voluptatum odio non rerum molestiae enim ea quaerat velit excepturi nam vel, hic, mollitia doloremque voluptas accusantium ut
                            </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>



        <div class="card-body ">
            <div class="row align-items-center">


                <div class="container text-center p-1 col-md-5 col-lg-3 col-xl-3">
                    <iframe title="Cthulhu (Animated)" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="480" src="https://sketchfab.com/models/b786f474cb6f4c9fb24839c18998cb0a/embed"> </iframe>
                </div>

                <div class="container text-center p-1 col-md-5 col-lg-3 col-xl-3">
                    <iframe title="Hand study" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="480" src="https://sketchfab.com/models/b81008d513954189a063ff901f7abfe4/embed"> </iframe>
                </div>
                <div class="container text-center p-1 col-md-5 col-lg-3 col-xl-3">
                    <iframe title="Hand study" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="480" src="https://sketchfab.com/models/3fc387eae6f34901b67bb74672016977/embed"> </iframe>
                </div>
                <div class="container text-center p-1 col-md-5 col-lg-3 col-xl-3">
                    <iframe title="Hand study" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="480" src="https://sketchfab.com/models/4aace12762ee44cf97d934a6ced12e65/embed"> </iframe>
                </div>


            </div>
        </div>
    </div>
</div>






<!--
        <!--
        <button class="btn btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>
        <h1>
            Angular Read More| Read less button link example</h1>

        <div [ngClass]="{'limitTextHeight': isReadMore}">

            This is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with read more/less link example in Angular application paragraph text shown here continue continue This is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with read more/less link example in Angular application paragraph text shown here continue continue THis is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with read more/less link example in Angular application paragraph text shown here continue continue
        </div>
        <button class="btn btn-info shadow-none" (click)="showText()">
            {{ isReadMore ? 'Read More': 'Read Less' }}
        </button>


        <div>
            {{(readMore) ? 'longText' : 'longText' | slice:0:3}}
            <span *ngIf="!readMore">...</span>
            <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">[Leer más]</a>
            <a href="javascript:;" *ngIf="readMore" (click)="readMore=false">[Leer menos]</a>
        </div>




    </div>
-->





<div class="this2 container-flex p-0 mt-5">


  <div class="container">
  <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=500&amp;hl=es&amp;q=+(Escuela%20de%20Bellas%20Artes%20Felipe%20Guam%C3%A1n%20Poma%20de%20Ayala-Ayacucho)&amp;t=k&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/car-satnav-gps/">Car GPS</a></iframe>
  <iframe src="https://www.google.com/maps/embed?pb=!4v1655850799758!6m8!1m7!1sGm3v-xYcR1tj1gz95RrkYg!2m2!1d-13.15635415471263!2d-74.2180525291301!3f124.85298126566764!4f2.1996870284465047!5f0.7820865974627469" width="100%" height="1000px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

    <div class="text-center text-white p-0 border-0">
        <div class="card-body ">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                    <div class="container col-md-5 px-1">
                        <img class="img-fluid rounded w-50" src="../assets/esfap.png" (error)="onImgError($event)" alt="img" />
                    </div>
                    <p class="footer-links my-0">
                        ESCUELA SUPERIOR DE FORMACIÓN ARTÍSTICA
                    </p>
                    <p class="my-0">
                      "Felipe Guamán Poma de Ayala"
                    </p>

                    <div></div>
                </div>

                <div class="container text-center p-1 col-md-6 col-lg-4 col-xl-4">

                    <div>
                        <i class="text-secondary fa fa-map-marker fa-2x"></i>
                        <p>Ayacucho</p>
                    </div>
                    <div>
                        <i class="text-secondary fa fa-phone fa-2x"></i>
                        <p>bellasartes@esfapa.edu.pe</p>
                    </div>
                    <div>
                        <p class="text-success">©Copyright esfap-2022</p>
                    </div>
                    <div>
                        <i class="text-secondary fa fa-envelope fa-2x"></i>
                        <p>
                            <a class="text-secondary" href="wwwww"></a>
                        </p>
                    </div>
                </div>

<div class="container text-center p-5 col-md-6 col-lg-4 col-xl-4">
<p class="text-center text-info">
  Dirección domiciliaria: Jr. Mariano Melgar Nº 398,  Distrito Jesús Nazareno  Huamanga, Ayacucho
</p>
<p>
  Teléfono: 066-633542
</p>

<a class="text-success mx-1" target="_blank" href="https://api.whatsapp.com/send?phone=+51 966999215&text=Hola%20bienvenido">
<mat-icon svgIcon="watsapp" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>
<a class="text-primary" target="_blank" href="https://m.me/bellasartes.ayacucho">
<mat-icon svgIcon="messenger" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>
<a class="text-warning mx-1" target="_blank" href="https://bellasartes.blogspot.com">
<mat-icon svgIcon="blogspot" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>
<a class="text-primary mx-1" target="_blank" href="https://web.facebook.com/bellasartes.ayacucho">
<mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>
<a class="text-info mx-1" target="_blank" href="https://instagram.com/bellasartes.ayacucho">
<mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>
<a class="text-info mx-1" target="_blank" href="https://www.youtube.com/channel/UCkYf1NyZ1kUl3965WgeL6rw">
  <mat-icon svgIcon="youtube" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>
</div>
            </div>
        </div>
    </div>
</div>



<!--

<div class="fixed-footer" ngxHideOnScroll [propertyUsedToHide]="'transform'" [valueWhenHidden]="'translateY(100%)'" [valueWhenShown]="'translateY(0%)'">
    <h2>Fixed footer, with transition on hide/show.</h2>
</div>

<div class="row m-0 d-flex justify-content-center align-items-center">
    <div class="col-md-4 p-3 card-photo" *ngFor="let photo of photouser index as i">
        <div class="card" (click)="selectedCard($any(photo)._id)">
            <div class="card-header h5">
                {{photo.title}}
            </div>
            <div class="card-footer">
                <img [src]="apiURL+'/'+photo.imagePath" class="img-card-top wrapperest" (error)="onImgError($event)">
            </div>
            <div class="card-footer">
                <p>{{photo._id}}</p>

            </div>
        </div>
    </div>
</div>


<div class="row m-0 d-flex justify-content-center align-items-center">
    <div class="col-md-12 p-2" *ngFor="let photo of wwwww index as i">
        <div class="card bg-info text-align-right" (click)="selectedCard($any(photo)._id)">
            <div class="card-header h5">
                {{photo.title}}------------
                {{photo.img}}
            </div>
            <div class="card-footer">
                <img [src]="apiURL+'/'+photo.img" class="img-card-top w-100" (error)="onImgError($event)">
            </div>

        </div>
    </div>

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="row m-0 d-flex justify-content-center">

          <div class="example-box" *ngFor="let photo of photos" cdkDrag>
            <div class="example-custom-placeholder col-md-3" *cdkDragPlaceholder></div>

            <div class="card-header h5">
                {{photo.title}}------------
                {{photo.imagePath}}
            </div>
            <div class="card-footer">
                <img [src]="apiURL+'/'+photo.imagePath" class="img-card-top wrapperest">
            </div>
            <div class="card-footer">
                <p>{{photo._id}}</p>
            </div>
        </div>
    </div>
</div>

TAIPE CARBAJAL, Marcelino Efrain Director (e) de la ESFAP.FGPA. 966999215 marcelinotaipe@esfapa.edu.pe
AYLAS GUZMAN, Jesús Lilian Jefe de la Unidad Académica 999250466 lilianaylas@esfapa.edu.pe
QUISPE PRADO, Rolando Jefe de Unidad Administrativa 999394025 rolandoquispeprado@esfapa.edu.pe
LICAS GARIBAY, Juan Luis Secretario General 999994088 juanlicas@esfapa.edu.pe
MARQUINA POZO, María Pilar Jefe del Area Academica de Educacion Artistica 995502771 mariamarquina@esfapa.edu.pe
SÁNCHEZ PARADO, Evelina Jefe del Area Academica de Artista Profesional 934096933 evelinasanchez@esfapa.edu.pe
ZÁRATE GUTIÉRREZ, Ezequiel Wari Jefe del Área Formacion en Servicios 9496080911 / 966335919 ezequielzarate@esfapa.edu.pe
PARRA BELLO, Ladislao Profesor nombrado 985400116 ladislaoparra@esfapa.edu.pe
PALOMINO HUAMÁN, Zenobio Orlando Profesor nombrado 945225632 zenobiopalomino@esfapa.edu.pe
MARTINEZ PAREDES, Kenneth Cláudio Profesor nombrado 966676065 kennethmartinez@esfapa.edu.pe
SOLAR BECERRA, Belarmina Profesor nombrado 964494434 belarminasolar@esfapa.edu.pe
QUISPE PALOMINO, Santiago Alberto Profesor nombrado 937000619 santiagoquispe@esfapa.edu.pe
PRADO BAUTISTA, Jesús Profesor nombrado 951984430 jesusprado@esfapa.edu.pe
CÓRDOVA HERNÁNDEZ, Amanda LuzmilaProfesor nombrado 947368379 amandacordova@esfapa.edu.pe
ALVAREZ ENRIQUEZ, Eleodoro Profesor nombrado 966304933 / 958028393 eleodoroalvarez@esfapa.edu.pe
ARISTE GUERREROS, Luis Carlos Profesor nombrado 931662078 luisariste@esfapa.edu.pe
CCAICO RAMOS, Constantino Profesor nombrado 920285973 constantinoccaico@esfapa.edu.pe
ARONÉS ALVARO, Julio Javier Profesor contratado 966186465 / 910584620 julioarones@esfapa.edu.pe
ANCHAHUA HUAMANÍ, Moisés Profesor contratado 990108058 moisesanchahua@esfapa.edu.pe
ASTO SULCA, Nancy Profesor contratado 990404322 nancyasto@esfapa.edu.pe
CABRERA LLANTOY, Reynaldo Profesor contratado 950162941 reynaldocabrera@esfapa.edu.pe
CANCHARI SOLÍS, José Profesor contratado 999633024 josecanchari@esfapa.edu.pe
CHUCHON FERIA, Juan Mauro Profesor contratado 932828885 - 961255685 juanchuchon@esfapa.edu.pe
CORDERO AYBAR, Olimpia Profesor contratado 916158876 olimpiacordero@esfapa.edu.pe
MALLQUI BAÑOS, RICARDO MICHEL Profesor contratado 966878340 ricardomallqui@esfapa.edu.pe
MIRANDA PEREIRA, Labslov Enrique Profesor contratado 930778210 labslovmiranda@esfapa.edu.pe
ORIUNDO MORA, Katia Profesor contratado 932006206 katiaoriundo@esfapa.edu.pe
QUISPE PIZARRO, Reyder Necao Profesor contratado 988222883 reyderquispe@esfapa.edu.pe
ROJAS CONDE,William Profesor contratado 966306262 williamrojas@esfapa.edu.pe
SABASTIZAGAL ORELLANA, Edgar Allan Profesor contratado 968245378 edgarsabastizagal@esfapa.edu.pe
SULCA AVILES, Richard Profesor contratado 931820694 richardsulca@esfapa.edu.pe
SULLA VALDEZ, Saúl Profesor contratado 966617181 saulsulla@esfapa.edu.pe
TORRE MALPARTIDA, Robert Escolástico Profesor contratado 966050691 roberttorre@esfapa.edu.pe
TORRES VIACAVA, Teófilo Profesor contratado 966768700 teofilotorres@esfapa.edu.pe
VIZA BAYONA, Nancy Estefanía Profesor contratado 992519877 nancyviza@esfapa.edu.pe
CCONISLLA ARMBURU, Edwin Wilian Profesor contratado 966861628 edwincconislla@esfapa.edu.pe
RAMOS HUACHACA, Roger Rolando Profesor contratado 958689007 rogerramos@esfapa.edu.pe
JAUREGUI ORMAZA, Einer Hugo Profesor contratado 987775299 einerjauregui@esfapa.edu.pe
APCHO MONTES, Kattia Profesor contratada 966241095 kattiaapcho@esfapa.edu.pe
HINOSTROZA FERNÁNDEZ, Willian Técnico Administrativo I nombrado 966718751 willianhinostroza@esfapa.edu.pe
MORALES INFANTE, Juana Técnico Administrativo I nombrado 996407082 juanamorales@esfapa.edu.pe
CCONISLLA ARAMBURÚ, Isaías Técnico Administrativo II nombrado 966101067 isaiascconislla@esfapa.edu.pe
ENCISO PEREZ, Tomás Técnico Administrativo I nombrado 922457416 tomasenciso@esfapa.edu.pe
GUTIERREZ SOSA, Celedonia Técnico Administrativo I nombrado 999001958 celedoniagutierrez@esfapa.edu.pe
PABLO HUAMACCTO, Mario Trab.Serv.III nombrado 937791553 mariopablo@esfapa.edu.pe
ORIUNDO CARBAJAL, Carlos Trab.Serv.III nombrado 938244932 carlosoriundo@esfapa.edu.pe
MARMOLEJO BARBARAN, David Israel Contratado 976133861 davidmarmolejo@esfapa.edu.pe
HURTADO HURTADO, Mac Grovern Contratado 936311195 machurtado@esfapa.edu.pe
ARONES POMACANCHARI, Fiorela Contratado 928162479 fiorelaarones@esfapa.edu.pe
PEÑA AYALA, Nety Janet Contratado 938527260 netypayala@esfapa.edu.pe

-->
