<div Ngxheadroom data-tolerance="5" data-offset="100" data-classes='{"initial":"animated","pinned":"slideDown","unpinned":"slideUp"}' class="fixed-navbar">
    <app-navigation></app-navigation>
</div>
<div class="height"></div>

   <div class="container d-flex justify-content-center align-items-center text-light">
    <form class="row p-1" (submit)="updatePhoto(title, description, password, rol)">
      <div class="col-md-7 p-0">
        <div class="form-group mb-2">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control shadow-none" placeholder="Photo's Title" [value]="$any(photow).name" #title required>
        <div class="form-group mb-2">
            <label class="form-label">Correo</label>
            <input type="text" class="form-control shadow-none" placeholder="Photo's Title" [value]="$any(photow).email" #description required>
        </div>
        <div class="form-group mb-2">
            <label class="form-label">Password</label>
            <input type="text" class="form-control shadow-none" placeholder="Photo's Title" [value]="$any(photow).password" #password>
        </div>
        <!--
        <div [ngClass]="[$any(photow).rol==1 ? 'form-group mb-2':'form-group mb-2 d-none']">-->
            <div [ngClass]="[userrol==1  ? 'form-group mb-2' :'form-group mb-2 d-none']">
            <label for="exampleFormControlInput1" class="form-label">Rol</label>
            <input type="text" class="form-control shadow-none" placeholder="Rol" [value]="$any(photow).rol" #rol>
         </div>
       </div>Cel: {{$any(photow).celular}}, Sexo: {{$any(photow).sexo}}, Carrera: {{$any(photow).carreramension}}, Ciclo: {{$any(photow).ciclo}}, Rol: {{$any(photow).rol}}
       </div>
        <div class="col-md-5 p-0 d-flex justify-content-center align-items-center text-light">
        <input type="file" accept="image/*" class="d-none" (change)="capturandoFile($event)" #photoInput>
        <img *ngIf="userrol == '1'" [src]="photoSelected || apiUrl+'/'+ $any(photow).foto" (error)="onImgError($event)" class="img-fluid" alt="No image" class="m-auto w-100 cursorpoint" (click)="photoInput.click()">
        <img *ngIf="userrol == '2' || userrol == '3'" [src]="apiUrl+'/'+ $any(photow).foto" (error)="onImgError($event)" class="img-fluid" alt="No image" class="m-auto w-100">
      </div>
        <button class="btn btn-info shadow-none mt-1" [disabled]="loading">{{ loading=='false' ? 'Cargando '+value+'%':
            'Actualizar'}}</button>
        <button class="btn btn-success mb-1 shadow-none d-none" (click)="deletePhoto($any(photow)._id)">
            Delete
        </button>

    </form>
</div>
