<div Ngxheadroom data-classes='{"initial":"animated","pinned":"slideDown","unpinned":"slideUp"}' class="fixed-navbar">
    <app-navigation></app-navigation>
</div>

<div class="py-5"></div>
<div class="card-body col-md-5 m-auto">
	<form (submit)="uploadPhoto(title, description)">
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Foto titulo</label>
			<input type="text" class="form-control shadow-none" placeholder="Photo's Title" #title required>
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
			<textarea class="form-control shadow-none" placeholder="Photo's Description" required
				#description></textarea>
		</div>
		<input type="file" accept="image/*" class="d-none" (change)="capturandoFile($event)" #photoInput>
		<img [src]="photoSelected || 'assets/no-image.png'" class="img-fluid hover" alt="No image"
			(click)="photoInput.click()">
		<div class="d-grid gap-1">

			<mat-progress-bar color="accent" [value]="value"></mat-progress-bar>
			<mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>

			<button class="btn btn-primary mt-1 shadow-none" [disabled]="loading">{{ loading=='false' ? 'Cargando '+value+'%':
				'Cargar'}}</button>
			<button class="btn btn-info btn-block mt-2 shadow-none">
				Upload
			</button>
		</div>
	</form>
</div>