<div Ngxheadroom   [options]="options" class="fixed-navbar">
    <app-navigation></app-navigation>
</div>
<div class="height"></div>

<div class="container">

    <!--perfil
    <div class="p-5">
        <div class="cardnew p-5">
            <div class="componentWrapperbottom text-warning">
                Email: {{$any(photos).email}} -- Contraseña: {{$any(photos).password}} -- Nombre: {{$any(photos).name}} -- Rol: {{$any(photos).rol}}
                <markdown [data]="$any(photos).name" class="d-none" katex></markdown>
            </div>
            <button class="btn btn-info shadow-none" (click)="selectedUser($any(photos)._id)">Editar</button>
            <div class="my-1"></div>

            <img [src]="apiUrl+'/'+ $any(photos).foto" (error)="onImgError($event)" class="img-fluid img-thumbnail w-100">

            <ng-template #main_content>
            </ng-template>
        </div>
    </div>

-->
    <!--modal contenido-->
    <ng-template #ww let-modal>
        <div class="modal-body bg-succes">
            <!-- <markdown [data]="text" katex [katexOptions]="options"></markdown> -->
        </div>
        <div class="modal-footer">
            <button class="btn btn-info shadow-none" (click)="modal.close()">Close</button>
        </div>
    </ng-template>

    <!--modal item and subitem-->
    <ng-template #zzz let-modal>
        <div class="modal-body bg-info">
            <img [src]="apiUrl+'/'+ text" class="img-fluid w-100" (error)="onImgError($event)">
        </div>
        <div class="modal-footer p-1">
            <button class="btn btn-info shadow-none" (click)="modal.close()">Close</button>
        </div>
    </ng-template>



    <div *ngFor="let w of wwwww index as i">
            <div *ngIf="$any(w).rol==$any(photos).rol || $any(photos).rol==1" class="justify-content-left align-items-center">
                <div class="d-flex p-0">
                    <img [src]="apiUrl+'/'+ $any(w).foto" (error)="onImgError($event)" class="wrapperest10">
                    <div class="text-light p-1">
                            {{i+1}}. {{$any(w).name}} -----  {{$any(w).email}} -- {{$any(w).password}} --    {{$any(w).rol}} *** {{$any(w)._id}}
                      <div class="">
                      <button class="btn btn-outline-primary card-photo" (click)="open2(zzz, $any(w).foto)">Show</button>
                      <button *ngIf='$any(photos).rol == 1 || $any(photos)._id == $any(w)._id' class="btn btn-outline-info mx-1 card-photo" (click)="selectedUser($any(w)._id)">Edit</button>
                      <button *ngIf='$any(photos).rol == 1' class="btn btn-danger shadow-none" (click)="deleteUser($any(w)._id, $any(w).curse.length)">Delete user</button>
                      <button *ngIf='$any(photos).rol == 1 || $any(photos)._id == $any(w)._id' class="btn btn-info shadow-none" (click)="NewCurse($any(w)._id)">New curse</button>
                      </div>
                    </div>
                </div>

                <div class="row m-0 d-flex justify-content-center align-items-center p-1">
                <div class=" col-md-3 m-1 p-1" *ngFor="let item of w['integer']; let i=index" cdkDrag>
                      <div *ngFor="let itemwww of item['curse']; let i=index" cdkDrag>
                          <div class="p-0 text-light text-center border">
                            {{itemwww.title}}
                          </div>
                      </div>
                </div>
                </div>
            </div>

            <div *ngIf="$any(w).rol==$any(photos).rol || $any(photos).rol==1" class="row m-0 d-flex justify-content-center align-items-center p-1">
                <div class=" col-md-5 m-1 p-1" *ngFor="let subItem of w['curse']; let i=index" cdkDrag>
                    <div class="cardnew_ p-0">
                        <div class="text-rigth floatop">
                            <div class="h5 text-uppercase text-info">
                                {{subItem.title}}
                            </div>
                            <div>
                                <!--Modal2-->
                                <button class="btn btn-outline-primary card-photo shadow-none" (click)="open2(zzz, $any(subItem).img)">Ampliar</button>
                                <button class="btn btn-outline-info card-photo shadow-none" (click)="open1(ww, $any(subItem).description)">Contenido</button>
                                <button class="btn btn-outline-light card-photo shadow-none" (click)="goCurse(subItem._id)">Ir al curso</button>
                                <button *ngIf='$any(photos).rol==1||$any(photos)._id == $any(w)._id' class="btn btn-outline-light card-photo shadow-none" (click)="selectedCard(subItem._id)">Editar</button>
                                <button *ngIf='$any(photos).rol==1||$any(photos)._id == $any(w)._id' class="btn btn-outline-light card-photo shadow-none" (click)="deleteCurse(subItem._id)">Borrar curso</button>
                            </div>
                        </div>
                        <div *ngIf="subItem.img=='imagen'; else www">
                            <img src="./assets/negz.png" class="imgcurse">
                        </div>
                        <ng-template #www>
                            <img *ngIf="subItem.img" [src]="apiUrl+'/'+ subItem.img" class="imgcurse" (error)="onImgError($event)">
                        </ng-template>
                    </div>
                </div>
        </div>
    </div>

  </div>


<!--				<div class="h2 text-uppercase text-primary" contenteditable="true"
					(focusout)="someMethodWithFocusOutEvent3($event,$any(w)._id,$any(w).name,$any(w).email,$any(w).password)">
					{{$any(w).name}}</div>
				<div class="" contenteditable="true"
					(focusout)="someMethodWithFocusOutEvent2($event,$any(w)._id,$any(w).name,$any(w).email,$any(w).password)">
					{{$any(w).email}}</div>
				<div class="" contenteditable="true"
					(focusout)="someMethodWithFocusOutEvent($event,$any(w)._id,$any(w).name,$any(w).email,$any(w).password)">
					{{$any(w).password}}</div>
-->
