<div Ngxheadroom data-tolerance="5" data-offset="300" data-classes='{"initial":"animated","pinned":"slideDown","unpinned":"slideUp"}' class="fixed-navbar">
    <app-navigation></app-navigation>
</div>

<div class="py-5 my-1"></div>

<ng-template #new let-modal>
    <div class="modal-header h3">
{{unitytitle}} - {{themetitle}}
    </div>
    <div class="modal-body">
        <ng-katex-html [html]="text"></ng-katex-html>
        <div *ngIf="textoimg && textoimg.split('.').pop()!=='pdf'">
          <img [src]="apiURL+'/'+ textoimg" class="m-auto w-100 img-fluid" (error)="onImgError($event)">
        </div>
        <div class="bg-light text-center border rounded">
            {{textoimg}}
        </div>
        <ngx-doc-viewer *ngIf="textoimg.split('.').pop()=='doc'"
        [url]="apiURL+'/'+ textoimg"
        viewer="google"
        style="width:100%;height:100vh;"
        ></ngx-doc-viewer>

        <ngx-doc-viewer *ngIf="textoimg.split('.').pop()=='docx' || textoimg.split('.').pop()=='pptx'|| textoimg.split('.').pop()=='ptx' || textoimg.split('.').pop()=='xlsx'|| textoimg.split('.').pop()=='xls'"
        [url]="apiURL+'/'+ textoimg"
        viewer="google"
        style="width:100%;height:100vh;"
        ></ngx-doc-viewer>

        <ngx-extended-pdf-viewer *ngIf="textoimg && textoimg.split('.').pop()=='pdf'"
        [src]="apiURL+'/'+ textoimg"
        [height]="'800px'"
        [useBrowserLocale]="false"
        [textLayer]="true"
        [showHandToolButton]="false">
      </ngx-extended-pdf-viewer>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>


<div class="container">
<div *ngIf="rol==1 || rol==2" class="row d-flex justify-content-center">
<div *ngFor="let www of photo index as i" class="col-md-1 col-lg-1 col-xs-1">
  <button class="btn text-center" (click)="erraseinteger($any(www)._id)">
      &#x2108;
      <span *ngIf="$any(www).userw.length" class="text-info">
          &#10004;
      </span>
  </button>
</div>
</div>
    <div class="row d-flex justify-content-center">
        <div [ngClass]="[www.userw[0]._id==user ? 'cardnew_ col-md-3 m-3 p-1':'cardnew col-md-3 m-3 p-1']" *ngFor="let www of photo index as i">
          <div class="text-center text-info">
           {{i+1}}. {{www.userw[0].name}}
             </div>
             <div class="text-center text-info">
              DNI{{www.userw[0].email.substring(8,20)}}
                </div>
            <button class="btn shadow-none p-0 my-1" (click)="open1($any(www).userw[0]._id)">
                <img [src]="apiURL+'/'+www.userw[0].foto" class="img-card-top imgcurse" (error)="onImgError($event)">

            </button>


            <div *ngIf="rol==1 || rol==2" class="text-center p-1 mb-1 bg-info rounded">
            <div *ngFor="let w of www['userw'] index as i">
               <div *ngIf="w.tasks.length>0" class="text-center p-1 bg-info rounded">

                    <div class="row d-flex justify-content-center m-1 p-0">
                      <div *ngFor="let ww of w['tasks'] index as i" [ngClass]="[ww.note ? ' col-md-4 col-lg-2 col-2 m-1 p-1':'col-md-4 col-lg-2 col-2 m-1 p-1']">
                        <span class="h6">&#10004;</span>
                      <span *ngIf="ww.archivo" class="h6 text-warning">&starf; </span>
                      <span *ngIf="rol==1" class="card-photo text-light" (click)="deletetask($any(ww)._id)">
                        &starf;
                      </span>
                      </div>
                    </div>
            </div>
          </div>
            </div>

                        <div  *ngFor="let w of www['cursse'] index as i">
                          <div *ngIf="w.units.length>0" class="text-center p-0 rounded transparencia">
                                <div class="row d-flex justify-content-center m-0 p-0">
                                  <div *ngFor="let ww of w['units'] index as i" [ngClass]="[ww.note ? ' col-md-6 col-lg-2 col-2 m-1 p-1':'col-md-6 p-1']">
                                    <span  class="h8 text-white d-none">{{i+1}}</span>
                                    <div class="row d-flex justify-content-center m-1 p-0">
                                      <div *ngFor="let wwwww of ww['themes'] index as i" [ngClass]="[wwwww.task.length ? 'col-md-5 rounded bg-danger m-1 p-0':'col-md-5 rounded bg-light m-1 p-0']">
                                        <span  class="h9 d-none">{{i+1}}</span>
                                        <button *ngIf="rol==1 && !wwwww.task.length" class="btn btn-success p-0" (click)="savetask(wwwww._id, ww._id, w._id, www.userw[0]._id)">
&#3065;                                        </button>
                                        <div class="row">
                                          <div *ngFor="let ww_ of wwwww['task'] index as i">
                                              <span *ngIf="ww_.archivo" class="text-dark">&starf; {{ww_.archivo.split('.').pop()!}}</span>
                                              <button *ngIf="rol==1" class="btn btn-warning m-0 p-0" (click)="deletetask($any(ww_)._id)"> x </button>
                                              {{ww_.note}}
                                              <button class="btn btn-info p-0" (click)="openwww(new, ww_.task, ww_.archivo, ww.title, wwwww.title)">
                                               &#x2766;
                                              </button>
                                              <input *ngIf="rol==1 || rol==2" type="text" class="form-control p-1"  [value]="ww_.note" (blur)="onBlurMethod($event, ww_._id, ww_.task)">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                        </div>
                        </div>

            <button *ngIf="rol==1" class="btn btn-warning shadow-none mt-1" (click)="erraseinteger($any(www)._id)">
                Retirar del curso {{rol}}
            </button>
        </div>
    </div>
</div>
